/* Paleta de colores: https://coolors.co/003049-f18f01-048ba8-e2fdff-cb04a5 */

body {
    margin: 0;
    font-family: Roboto Mono, monospace;
    background-color: #e2fdff;
}

#cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #048ba8;
    color: #e2fdff;
    padding: 0 0 0 4lvh;
    font-size: calc(0.5em + 2vmin);
}

#menu {
    display: flex;
    flex-direction: column;
    padding: 0 4lvh 0 0;
}

.menuBar {
    width: 2lh;
    height: 5px;
    background-color: #e2fdff;
    margin: 0.2lh;
}

#challenge {
    display: flex;
    background-color: #003049;
    color: #e2fdff;
    margin: 0 4lvh 0 4lvh;
    padding: 0 4lvh 0 4lvh;
}

#description {
    color: #003049;
    margin: 2lvh 0 2lvh 4lvh;
}

#console {
    display: flex;
    background-color: #003049;
    color: #e2fdff;
    min-height: 10lvh;
    margin: 0 4lvh 4lvh 4lvh;
    padding: 0 4lvh 0 4lvh;
}

#codeMenu {
    margin: 2lvh 4lvh 2lvh 4lvh;
}

#showCode,
#exeCode {
    border: 0;
    padding: 1lvh;
    color: #e2fdff;
    font-weight: bold;
    font-size: 1em;
}

#showCode {
    background-color: #f18f01;
}

#showCode:hover {
    box-shadow: 0px 2px 10px #f18f01;
}
#exeCode {
    background-color: #cb04a5;
}

#exeCode:hover {
    box-shadow: 0px 2px 10px #cb04a5;
}

#codeSolution {
    display: none;
}

#codeWorking {
    display: none;
}

.tab {
    margin-left: 40px;
}
